* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f9fafb;
}
.container {
  max-width: 1058px;
  width: 100%;
  margin-inline: auto;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b152b;
  padding: 12px 20px 12px 20px;
  gap: 10px;
  border-radius: 47px;
  margin-top: 15px;
  margin-bottom: 64px;
}
.logo img {
  width: 100%;
}
.header__container ul {
  display: flex;
  list-style: none;
  gap: 16px;
  color: white;
  font-family: "Manrope", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #7f56d9;
}
.btn {
  padding: 8px 30px 8px 30px;
  gap: 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  font-family: "Inter", sans-serif;
}
.btn--light {
  background-color: #7f56d9;
}
.btn--light:hover {
  color: #1b152b;
}
.btn--dark {
  background-color: #1b152b;
}
.btn--dark:hover {
  color: #7f56d9;
}
.hero__container {
  text-align: center;
}
.hero__container h1 {
  font-family: "Inter", sans-serif;
  font-size: 72px;
  font-weight: 400;
  line-height: 87.14px;
  letter-spacing: -3.83px;
  margin-bottom: 16px;
}
.hero__container p {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  line-height: 21.86px;
  letter-spacing: -0.75px;
  color: #7a7d9c;
  margin-bottom: 16px;
}
.for-btn {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 48px;
}
.hero__img {
  width: 100%;
  overflow: hidden;
  margin-bottom: 48px;
}
.hero__img img {
  width: 100%;
}
.stats-wrapper {
  display: flex;
  justify-content: space-around;
  color: #7f56d9;
  text-align: center;
  background-color: #fff;
  padding: 16px 48px 16px 48px;
  border-radius: 16px;
  border: 1px solid #eff0f6;
  margin-bottom: 59px;
}
.stats h2 {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-weight: 600;
  line-height: 58.09px;
  letter-spacing: -3.82px;
}
.stats p {
  font-family: "Manrope", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32.78px;
  letter-spacing: -0.95px;
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 659px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    max-width: 304px;
  }
  .logo {
    width: 92px;
  }
  .header__container {
    margin-top: 32px;
  }
  .header__container ul {
    display: none;
  }
  .header__container .btn {
    display: none;
  }
  .hero__container h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29.05px;
    letter-spacing: 0;
  }
  .hero__container p {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.39px;
    letter-spacing: -0.5px;
  }
  .btn {
    padding: 5px, 11px, 5px, 11px;
  }
  .stats-wrapper {
    display: block;
  }
  .stats h2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 24.2px;
    letter-spacing: -0.9599999785423279px;
  }
  .stats p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    letter-spacing: -0.9599999785423279px;
  }
}
